@import "./reset.css";
@import "./vars.css";
@import "./header.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  background-color: var(--background);
  color: white;
  height: 100vh;
  width: 80vw;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Inter, sans-serif;
}

.demo-1 {
  height: 40px;
  overflow: hidden;
  position: relative;
}

.demo-1 h3 {
  font-size: 18px;
  letter-spacing: 1.3px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;

  /* Starting position */
  transform: translateX(100%);

  /* Apply animation to this element */
  animation: demo-1 25s linear infinite;
}

/* table styling */
.table {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 70%;
  max-width: 100%;
  margin-top: 25px;
}

.table > div {
  font-size: 18px;
  margin: 2px;
  padding: 8px;
}

/* Move it (define the animation) */
@keyframes demo-1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.header {
  margin-top: 15px;
  padding-bottom: 25px;
  display: block;
  border-bottom: 1px solid white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.link {
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

.logo {
  width: 160px;
  height: 70px;
}

@media screen and (max-width: 375px) {
  .logo {
    width: 110px;
    height: 48px;
  }
}

.link:hover {
  color: #cdb5fa;
  border-bottom: 1px solid #cdb5fa;
  transition: 0.3s;
}

.h1 {
  color: #cdb5fa;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 8px;
}

.h1::before {
  content: "";
  color: #cdb5fa;
  display: block;
  background: url("/assets/pijl.svg") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 4px 10px 0 0;
}

.section-width {
  margin: auto;
  margin-top: 5%;
  width: 80vw;
}

@media screen and (max-width: 375px) {
  .section-width {
    margin-top: 15%;
  }
}

.h2 {
  color: white;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 140.6%;
  width: 40vw;
}

.intro {
  margin-bottom: 4rem;
}

@media screen and (max-width: 1900px) {
  .h2 {
    width: 700px;
  }
}

@media screen and (max-width: 1090px) {
  .h2 {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .h2 {
    font-size: 5vw;
    width: 80vw;
    line-height: 130.6%;
  }
}

@media screen and (max-width: 475px) {
  .h1 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 13px;
    margin-top: 30px;
  }

  .h1::before {
    width: 15px;
    height: 15px;
    margin: 2px 8px 0 0;
  }

  .h2 {
    line-height: 150%;
    letter-spacing: 0.1px;
  }

  .intro {
    margin-bottom: 2rem;
  }
}

.button-black {
  border-radius: 8px;
  color: black;
  border: 1px solid black;
}

button,
a.button {
  border-radius: 8px;
  background: transparent;
  box-shadow: 0 0 0 transparent;
  text-shadow: 0 0 0 transparent;
  color: white;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 1.7rem;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
}

button:hover,
a.button:hover {
  border-radius: 8px;
  background: transparent;
  box-shadow: 0 0 0 transparent;
  text-shadow: 0 0 0 transparent;
  color: #cdb5fa;
  border: 1px solid #cdb5fa;
  transition: 0.3s;
  cursor: pointer;
}

.button-black:hover {
  border-radius: 8px;
  color: white;
  border: 1px solid white;
}

button:active,
a.button:active {
  border-radius: 8px;
  outline: none;
  border: none;
}

button:focus,
a.button:focus {
  border-radius: 8px;
  outline: 0;
}

.partner {
  filter: grayscale(100%);
}

.button-partner {
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 1.7rem;
  text-decoration: none;
  color: black;
  text-align: center;
}

.button-partner:hover {
  border-radius: 8px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.section-border {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1.3rem;
  width: 80vw;
}

@media screen and (max-width: 800px) {
  .section-border {
    margin-top: 60px;
  }

  button,
  a.button {
    border-radius: 8px;
    width: 50%;
  }

  .button-partner {
    border-radius: 8px;
    width: 50%;
  }
}

@media screen and (max-width: 475px) {
  button,
  a.button {
    border-radius: 8px;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 1rem;
    width: 50%;
  }

  .session-button {
    border-radius: 8px;
    width: 80%;
  }

  .button-partner {
    border-radius: 8px;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 1rem;
    width: 50%;
  }
}

@media screen and (max-width: 375px) {
  .section-border {
    margin-top: 60px;
  }

  button,
  a.button {
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 1rem;
    width: 40%;
  }

  .session-button {
    border-radius: 8px;
    width: 80%;
  }

  .button-partner {
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 1rem;
    width: 40%;
  }
}

.speaker-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px 2vw;
  justify-items: center;
}

.speaker-card {
  margin-top: 30px;
}

.speaker-image {
  width: 13vw;
  height: 15vw;
  object-fit: cover;
}

.speaker-text {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
  width: 13vw;
  border-top: 1px solid white;
  margin-top: 10px;
  padding-top: 7px;
}

@media screen and (max-width: 1090px) {
  .speaker-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .speaker-image {
    width: 20vw;
    height: 25vw;
  }

  .speaker-text {
    width: 20vw;
  }
}

@media screen and (max-width: 475px) {
  .speaker-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .speaker-image {
    width: 35vw;
    height: 30vw;
  }

  .speaker-text {
    font-size: 12px;
    letter-spacing: 0.1px;
    width: 35vw;
  }
}

.empty-state {
  text-align: center;
  color: #cdb5fa;
  font-size: 18px;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 25px;
  font-style: italic;
}

.empty-stateprev {
  text-align: center;
  color: #cdb5fa;
  font-size: 18px;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 25px;
  font-style: normal;
  line-height: 20px;
}

@media screen and (max-width: 475px) {
  .empty-state {
    font-size: 14px;
  }
}

.sessions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sessions-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 5vw;
  justify-items: center;
}

.sessions-card {
  width: 13vw;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.sessions-date {
  color: #b8b8b8;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.sessions-content {
  flex-grow: 1;
}

.sessions-title {
  color: white;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 300;
  line-height: 140%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.sessions-text {
  color: #b8b8b8;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
  line-height: 20px;
}

.join-button {
  display: block;
  margin-top: 10px;
  width: 100% !important;
}

@media screen and (max-width: 800px) {
  .sessions-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .sessions-card {
    width: 35vw;
    margin-top: 40px;
  }
}

@media screen and (max-width: 375px) {
  .sessions-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .sessions-card {
    width: 40vw;
    margin-top: 40px;
  }

  .sessions-text {
    font-size: 12px;
    width: 35vw;
  }

  .sessions-title {
    font-size: 14px;
    width: 35vw;
  }

  .sessions-date {
    font-size: 12px;
    width: 35vw;
  }
}

.partners {
  margin-top: 100px;
  background-color: #cdb5fa;
  padding-top: 30px;
  padding-bottom: 30px;
}

.partners-text {
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding-right: 30px;
}

/* .partners-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5vw;
  grid-row-gap: 30px;
  justify-items: center;
  width: 80vw;
  margin-top: 20px;
  padding-left: 30px;
} */

.partners-logo {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  justify-content: space-around;
  width: 80vw;
  margin-top: 20px;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .partners-logo {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .partners-logo {
    grid-template-columns: repeat(2, 1fr);
  }

  .partner {
    width: 30vw;
  }
}

.black {
  color: black;
  padding-left: 30px;
}

.partners-logo-bw {
  filter: grayscale(100%);
  margin-bottom: 20px;
}

.partners-logo-color {
  margin-bottom: 20px;
}

@media screen and (max-width: 375px) {
  .black {
    width: 60%;
  }
}

.footer {
  margin-top: 100px;
  padding-bottom: 100px;
  padding-top: 10px;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-size: 14px;
  font-weight: 300;
  color: white;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-text {
    margin-top: 20px;
  }

  .link {
    text-decoration: underline;
    border-bottom: 0 solid white;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    margin-top: 60px;
  }
}

.bw {
  filter: grayscale(100%);
}

.partners-row-one {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .partners-row-one {
    flex-flow: row wrap;
  }
}
