---
import Layout from "../layouts/Layout.astro";
import Program from "../components/Program.astro";
import Partner from "../components/Partner.astro";
import Session from "../components/Session.astro";
import Speaker from "../components/Speaker.astro";
---

<Layout>
  <div class="demo-1">
    <h3>
      Check the Conference program below · Get your ticket before it's too late
    </h3>
  </div>

  <section class="section-width">
    <div>
      <h1 class="h1">#OpenBelgium22 on 29 April 2022</h1>
      <h2 class="h2 intro">
        Open Belgium is an annual community event, where we make Belgian
        knowledge open, usable, useful and used.
      </h2>
      <h2 class="h2 intro">
        Join us to discuss the future of
        <strong>Open, Privacy and Trust</strong> in Belgium in 2022 -
        <strong>live</strong> at “De Krook” in Ghent.
      </h2>
      <!-- <a target="_blank" href="https://form.typeform.com/to/S70tAdxS"
        class="button session-button">Submit a talk</a> -->
    </div>
  </section>

  <!--<section class="section-width">
    <div>
      <div class="section-border sessions">
        <h2 class="h2">Submit your proposal before 21 March!</h2>
        <a
          target="_blank"
          href="https://form.typeform.com/to/S70tAdxS"
          class="button session-button">Submit a keynote or demo</a
        >
      </div>
    </div>
    <p class="empty-stateprev empty-state">
      The open community gets a say in our program!<br />
      The Call For Speakers & Demos is an open invitation to government officials,
      researchers,<br />
      industry influencers and open enthusiasts to share their experiences on open,
      Privacy and Trust<br />
      and open knowledge during a Q&amp;A session, a roundtable discussion or workshop.<br
      />
      <br />
    </p>
  </section>-->

  <!-- program section -->
  <section class="section-width">
    <div class="section-border sessions">
      <h2 class="h2">Conference Program</h2>
      <a
        target="_blank"
        href="https://openbelgium22.eventbrite.be"
        class="button session-button">Attend OpenBelgium22</a
      >
    </div>
    <!-- conference schedule
    <div class="table">
      <div>09:30 - 10:00</div>
      <div>Registration & welcome coffee on De Krook site</div>

      <div>10:00 - 13:00</div>
      <div>Open, Privacy and trust speakers session</div>

      <div>13:00 - 14:00</div>
      <div>Lunch</div>

      <div>14:00 - 17:00</div>
      <div>Demos & workshops</div>

      <div>17:00 - 18:00</div>
      <div>Reception</div>
    </div> -->
    <!-- Import Pogram section -->
    <Program />
  </section>

  <p class="empty-state empty-stateprev">
    We can’t wait to connect live again during our next event and feel the
    energy. If you can’t make it, we will live-stream our talks.
    <br />
  </p>

  <section class="section-width">
    <div>
      <div class="section-border sessions">
        <h2 class="h2">Speakers</h2>
        <a
          target="_blank"
          href="https://openbelgium22.eventbrite.be"
          class="button session-button">Get my ticket</a
        >
      </div>
    </div>

    <div class="speaker-container">
      <Speaker
        name="Bart Rosseau"
        title="Chief Data Officer at Stad Gent"
        picture="Bart Rosseau.jpg"
      />
      <Speaker
        name="Renata Ávila"
        title="CEO Open Knowledge Foundation"
        picture="Renata Avila.jpg"
      />
      <Speaker
        name="Viivi Lähteenoja"
        title="Chair MyData Global"
        picture="Viivi Lahteenoja.jpg"
      />
      <Speaker
        name="Bart Jacobs"
        title="Professor of Security, Privacy and Identity"
        picture="Bart Jacobs.jpg"
      />
      <Speaker
        name="Ruben Verborgh"
        title="Professor of Decentralized Web technology"
        picture="Ruben Verborgh.jpg"
      />
      <Speaker
        name="Jos Pyck"
        title=" Project Manager for Pin je punt at Toerisme Vlaanderen"
        picture="Jos Pyck.jpg"
      />
      <Speaker
        name="Veronique Volders"
        title="Digital Solution Manager at Agentschap Binnenlands Bestuur"
        picture="Veronique Volders.jpg"
      />
      <Speaker
        name="Pieter-Jan Pauwels"
        title="Innovation Lead at District09"
        picture="Pieter-Jan Pauwels.jpg"
      />
      <Speaker
        name="Jeroen Budts"
        title="Open Source consultant Inuits & Dev lead Collections of Ghent"
        picture="Jeroen Budts.jpg"
      />
      <Speaker
        name="Pieter Vander Vennet"
        title="Lead developer for MapComplete"
        picture="Pieter Vander Vennet.jpg"
      />
      <Speaker
        name="Joost Schouppe"
        title="OpenStreetMap Belgium"
        picture="Joost Schouppe.png"
      />
      <Speaker
        name="Julien Minet"
        title="OpenStreetMap Belgium"
        picture="Julien Minet.jpg"
      />
       <Speaker
        name="Seppe Santens"
        title="OpenStreetMap Belgium"
        picture="Seppe Santens.jpg"
      />
      <Speaker
        name="Bart Hanssens"
        title="FOD/SPF BOSA"
        picture="Bart Hanssens.jpg"
      />
      <Speaker
        name="Marc Portier"
        title="Open Science Team Lead, VLIZ"
        picture="Marc Portier.jpg"
      />
      <Speaker
        name="Inge Van Nieuwerburgh"
        title="Open Science expert, Ghent University"
        picture="Inge Van Nieuwerburgh.jpg"
      />
      <Speaker
        name="Philippe Duchesne"
        title="Technical Lead, Datavillage"
        picture="Philippe Duchesne.jpg"
      />
      <Speaker
        name="Dr. Robert Riemann"
        title="Technology and Privacy Officer, European Data Protection Supervisor"
        picture="Robert Riemann.jpg"
      />
      <Speaker
        name="Rob Heyman"
        title="Coordinator, Knowledge Centre Data & Society"
        picture="Rob Heyman.jpg"
      />
      <Speaker
        name="Gwen Franck"
        title="Communications and Events lead, Knowledge Centre Data & Society"
        picture="Gwen Franck.jpg"
      />
      <Speaker
        name="Niels Vandekeybus"
        title="Web Architect at redpencil.io"
        picture="Niels Vandekeybus.jpg"
      />
      <Speaker
        name="Robbe Van Herck"
        title="Student Ghent University, redpencil.io"
        picture="Robbe Van Herck.jfif"
      />
      <Speaker
        name="Manuel Claeys Bouuaert"
        title="Facilitator and freelance data-scientist"
        picture="Manuel Claeys Bouuaert.jpg"
      />
    </div>
  </section>

  <!--
    <section class="section-width">
      <div class="section-border sessions">
        <h2 class="h2">Sessions</h2>
      </div>

      <div class="sessions-container">
        <Session datetime="2 March 2021, 9.30-10.15" title="We reuse LOD and open it up. Your turn to build it!" speakers="Katrien De Smet, Veronique Volders" link="https://youtu.be/aBiU_RA65e8" />
      </div>
    </section>
  -->
  <!-- Previous editions section -->
  <section class="section-width">
    <div class="section-border sessions">
      <h2 class="h2">Previous editions</h2>
      <!--<a
        target="_blank"
        href="https://openbelgium22.eventbrite.be"
        class="button session-button">Attend OpenBelgium22</a
      > -->
    </div>
  </section>

  <!-- Previous editions buttons -->
  <section class="section-width">
    <div class="sessions">
      <a
        target="_blank"
        href="https://2018.openbelgium.be/"
        class="button session-button">2018</a
      >
      <a
        target="_blank"
        href="https://2019.openbelgium.be/"
        class="button session-button">2019</a
      >
      <a
        target="_blank"
        href="https://2020.openbelgium.be/"
        class="button session-button">2020</a
      >
      <a
        target="_blank"
        href="https://2021.openbelgium.be/"
        class="button session-button">2021</a
      >
    </div>
  </section>
  <section class="partners">
    <div class="partners-text">
      <h2 class="h2 black">Partners</h2>
      <a
        class="button-black button-partner"
        href="mailto: astrid@openknowledge.be">Partner up</a
      >
    </div>

    <div class="partners-row-one">
      <Partner
        link="https://idlab.technology/"
        name="imec IDLab"
        logo="imec-idlab-logo.svg"
      />
      <Partner
        link="https://stad.gent/"
        name="Stad Gent"
        logo="gent-stad-logo.png"
      />
      <Partner
        link="https://redpencil.io/"
        name="redpencil.io"
        logo="redpencil-logo.svg"
      />
      <Partner
        link="https://www.vlaanderen.be/agentschap-binnenlands-bestuur"
        name="Agentschap Binnenlands Bestuur"
        logo="abb-logo.png"
      />
    </div>

    <div class="partners-row-one">
      <Partner
        link="https://openknowledge.be/"
        name="Open Knowledge Belgium"
        logo="okbe-logo.svg"
      />
    </div>
  </section>
</Layout>
