---
import Layout from '../layouts/Layout.astro';
---

<Layout>

    <div class="demo-1">
      <h3>
        Call for speakers & demos open · Call for speakers & demos open · Call
        for speakers & demos open · Call for speakers & demos open · Call for
        speakers & demos open · Call for speakers & demos open · Call for
        speakers & demos open · Call for speakers & demos open · Call for
        speakers & demos open · Call for speakers & demos open · Call for
        speakers & demos open · Call for speakers & demos open · Call for
        speakers & demos open · Call for speakers & demos open · Call for
        speakers & demos open · Call for speakers & demos open · Call for
        speakers & demos open · Call for speakers & demos open
      </h3>
    </div>

    <section class="sectionWidth">
      <div>
        <h1 class="h1">#OpenBelgium22 on 29 April 2022</h1>
        <h2 class="h2 intro">
          Open Belgium is an annual community event, where we make Belgian
          knowledge open, usable, useful and used.
        </h2>
        <h2 class="h2 intro">
          Join us to discuss the future of
          <strong>Open, Privacy and Trust</strong> in Belgium in 2022 –
          <strong>live</strong> at “De Krook” in Ghent.
        </h2>
        <!-- <a target="_blank" href="https://form.typeform.com/to/S70tAdxS"
        class="button sessionButton">Submit a talk</a> -->
      </div>
    </section>

    <!-- speaker section -->
    <section class="sectionWidth">
      <div>
        <div class="sectionBorder sessions">
          <h2 class="h2">Submit your proposal before 21 March!</h2>
          <a
            target="_blank"
            href="https://form.typeform.com/to/S70tAdxS"
            class="button sessionButton"
            >Submit a keynote or demo</a
          >
        </div>
      </div>
      <p class="emptyStateprev emptyState">
        The open community gets a say in our program!<br />
        The Call For Speakers & Demos is an open invitation to government
        officials, researchers,<br />
        industry influencers and open enthusiasts to share their experiences on
        open, Privacy and Trust<br />
        and open knowledge during a Q&amp;A session, a roundtable discussion or
        workshop.<br />
        <br />
      </p>
    </section>

    <!-- sessions section -->
    <!--
  <section class="sectionWidth">
    <div class="sectionBorder sessions">
      <h2 class="h2">Sessions</h2>
      <a target="_blank" href="https://openbelgium22.eventbrite.be"
        class="button sessionButton">Register to OpenBelgium22 🡵</a>
    </div>

    <p class="emptyState emptyStateprev">
      We can’t wait to connect live again during our next event and feel the energy. If you can’t make it, we will live-stream our talks.
      <br>
    </p>
    -->

    <!-- program section -->
    <section class="sectionWidth">
      <div class="sectionBorder sessions">
        <h2 class="h2">Programme</h2>
        <a
          target="_blank"
          href="https://openbelgium22.eventbrite.be"
          class="button sessionButton"
          >Attend OpenBelgium22</a
        >
      </div>
      <!-- conference schedule -->
      <div class="table">
        <div1>09:30 - 10:30</div1>
        <div>Registration & welcome coffee on De Krook site</div>

        <div1>10:30 - 13:00</div1>
        <div>Open, Privacy and trust speakers session</div>

        <div1>13:00 - 14:00</div1>
        <div>Lunch</div>

        <div1>14:00 - 16:00</div1>
        <div>Demos & workshops</div>

        <div1>16:00 - 17:00</div1>
        <div>Reception</div>
      </div>
    </section>

    <p class="emptyState emptyStateprev">
      We can’t wait to connect live again during our next event and feel the
      energy. If you can’t make it, we will live-stream our talks.
      <br />
    </p>
    <p class="emptyState">Stay tuned, the line-up will follow shortly</p>

    <div class="speakerContainer">
      <!-- speaker card -->
      <!--<article class="speakerCard">
      <img class="speakerImage" src="/assets/speakers/Mathieu Michel.jpg" alt="Mathieu Michel">
      <h3 class="speakerText">Mathieu Michel</h3>
      <p class="speakerText">State Secretary for Digitalisation</p>
    </article>-->
    </div>

    <!-- sessions card -->
    <!-- <div class="sessionsContainer">
      <article class="sessionsCard">
        <p class="sessionsDate">2 March 2021, 9.30-10.15</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">We reuse LOD and open it up. Your turn to build it!</h3>
          <p class="sessionsText">Katrien De Smet, Veronique Volders</p>
        </div>
        <a target="_blank" href="https://youtu.be/aBiU_RA65e8" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">2 March 2021, 15.00-15.45 </p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Open data at the federal level</h3>
          <p class="sessionsText">Bart Hanssens</p>
        </div>
        <a target="_blank" href="https://youtu.be/qtQVZgW4sFw" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">4 March 2021, 11.00-11.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Ghent's open data journey</h3>
          <p class="sessionsText">Manon Dravet, Joran Van Daele</p>
        </div>
        <a target="_blank" href="https://youtu.be/oBH8Kquc8AY" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">4 March 2021, 15.00-15.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">20 years of open biodiversity data in BE. What's next?</h3>
          <p class="sessionsText">André Heughebaert</p>
        </div>
        <a target="_blank" href="https://youtu.be/dVuKLFr5QQs" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">5 March 2021, 18.00-19.30</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">OSM news and discussions</h3>
          <p class="sessionsText">Joost Schouppe, Jonathan Beliën, Pieter Vander Vennet</p>
        </div>
        <a target="_blank" href="https://youtu.be/03OK_ueTx8k" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">9 March 2021, 09.00-10.30</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Hacking open culture in 90min, a creative brainstorm</h3>
          <p class="sessionsText">Lina Juvens, Pieter-Jan Pauwels</p>
        </div>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">9 March 2021, 16.00-18.00</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">The base API for open data: linked Data Event Streams</h3>
          <p class="sessionsText">Pieter Colpaert, Britt Lonneville, Olivier Van D'huynslager, Sjors De Valk, Brecht Van de Vyvere, Annelies De Craene, Erwin Folmer, Wouter Beek, Philippe Michiels</p>
        </div>
        <a target="_blank" href="https://youtu.be/yDY31KalkM4" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">11 March 2021, 13.00-14.15</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Open Data As Part of Social Justice Movement</h3>
          <p class="sessionsText">Anjali Mehta, Gulsen Guler</p>
        </div>
        <a target="_blank" href="https://youtu.be/kgsnOSEaIKs" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">11 March 2021, 16.30-17.15</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Success through openness in digital design</h3>
          <p class="sessionsText">Johan Ronsse</p>
        </div>
        <a target="_blank" href="https://youtu.be/KbiN435GqwA" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">15 March 2021, 11.00-11.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Sharing open (road) data in Flanders: The TN-ITS way</h3>
          <p class="sessionsText">Stephen T'Siobbel, Lien Bakelants, Geert Van Gaever</p>
        </div>
        <a target="_blank" href="https://youtu.be/o1OQegDyHkE" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">15 March 2021, 15.00-15.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Ethics in Action: responsible use of location data</h3>
          <p class="sessionsText">Frank Verschoor, Emily Daemen</p>
        </div>
        <a target="_blank" href="https://youtu.be/16rLUXox7Hg" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">17 March 2021, 11.00-11.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">PROBE: policies fit for humans and machines</h3>
          <p class="sessionsText">Freya Acar, Leen Van Campe</p>
        </div>
        <a target="_blank" href="https://youtu.be/FKICaqRIrnA" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">17 March 2021, 16.45-18.00</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Open cultural data in citizen science</h3>
          <p class="sessionsText">Mariana Ziku, Fred Truyen, Susanna Anäs, Katerina Zourou, Sofie Taes</p>
        </div>
        <a target="_blank" href="https://youtu.be/8RiNC0ul91k" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">19 March 2021, 11.00-11.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Actionable steps towards distributed data for your org</h3>
          <p class="sessionsText">Aad Versteden</p>
        </div>
        <a target="_blank" href="https://youtu.be/CgYaC4q088U" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">19 March 2021, 15.00-15.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Everybody wins but who's paying?</h3>
          <p class="sessionsText">Emma Stoks</p>
        </div>
        <a target="_blank" href="https://youtu.be/zafvQ3Ig57I" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">22 March 2021, 11.00-12.15</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Accessing and valorizing health data in Belgium</h3>
          <p class="sessionsText">Brecht Devleesschauwer, Karen Geurts, Bart Mesuere</p>
        </div>
        <a target="_blank" href="https://youtu.be/Ck2QD2RCsl4" class="button joinButton">View session
        </a>
       </article>

      <article class="sessionsCard">
        <p class="sessionsDate">22 March 2021, 16.30-17.15</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">How to be collaborative and digital</h3>
          <p class="sessionsText">Dominic Orr, Claudine Lim</p>
        </div>
        <a target="_blank" href="https://youtu.be/b1GPLlWgo6s" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">24 March 2021, 11.00-11.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Work Zones for Open Science</h3>
          <p class="sessionsText ">Marc Portier</p>
        </div>
        <a target="_blank" href="https://youtu.be/0BrXRDCGizk" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">24 March 2021, 15.00-15.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Development of a Flemish AP for Research Datasets in FRIS</h3>
          <p class="sessionsText ">Sadia Vancauwenbergh</p>
        </div>
        <a target="_blank" href="https://youtu.be/9X9yxzh01DA" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">26 March 2021, 10.00-11.15</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Personal Data Governance: towards a fair data economy</h3>
          <p class="sessionsText">Isabelle De Zegher, Ruben Verborgh, Viivi Lähteenoja, Harry van der Velde, Raf Buyle, Mathias Van Compernolle, Christophe Cop, Paul Theyskens</p>
        </div>
        <a target="_blank" href="https://youtu.be/nKFnngBTYek" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">26 March 2021, 15.00-15.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Open public sector innovation</h3>
          <p class="sessionsText">Pieterjan Montens</p>
        </div>
        <a target="_blank" href="https://youtu.be/vNOMgY0EzZM" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">29 March 2021, 11.00-11.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">How we helped 16 Walloon administrations take first steps in Open Data</h3>
          <p class="sessionsText">Nicolas Installé</p>
        </div>
        <a target="_blank" href="https://youtu.be/SqgnrzzTT6o" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">29 March 2021, 13.00-13.45</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Open and FAIR covid-19 data</h3>
          <p class="sessionsText">Frederik Coppens, Miguel Roncoroni, Ignacio Eguinoa</p>
        </div>
        <a target="_blank" href="https://youtu.be/cNoAo-mDKAY" class="button joinButton">View session
        </a>
      </article>

      <article class="sessionsCard">
        <p class="sessionsDate">31 March 2021, 15.00-16.00</p>
        <div class="sessionContent">
          <h3 class="sessionsTitle">Keynote and Q&amp;A with State Secretary Mathieu Michel</h3>
          <p class="sessionsText">Mathieu Michel</p>
        </div>
        <a target="_blank" href="https://youtu.be/UUHmSq5dE6o" class="button joinButton">View session
        </a>
      </article>
    </div>
  </section> -->

    <!-- partners section -->
    <section class="partners">
      <div class="partnersText">
        <h2 class="h2 black">Partners</h2>
        <!-- <button class="buttonBlack" href="mailto: astrid@openknowledge.be" button><a class="buttonPartner" link href="mailto: astrid@openknowledge.be">Partner up</a></button> -->
        <a
          class="buttonBlack buttonPartner"
          href="mailto: astrid@openknowledge.be"
          >Partner up</a
        >
      </div>

      <div class="partnersRowOne">
        <div class="partnersLogo">
          <!-- copy this, start -->
          <a class="partnersLogoColor" href="https://idlab.technology/">
            <img
              src="/assets/partners/imec-idlab-logo.png"
              alt="logo imec IDLab"
              width="150px"
            />
          </a>
          <!-- end -->
        </div>

        <div class="partnersLogo">
          <!-- copy this, start -->
          <a class="partnersLogoColor" href="https://stad.gent/">
            <img
              src="/assets/partners/gent-stad-logo.png"
              alt="logo Stad Gent"
              width="200px"
            />
          </a>
        </div>

        <div class="partnersLogo">
          <!-- copy this, start -->
          <a
            class="partnersLogoBW"
            href="https://www.vlaanderen.be/agentschap-binnenlands-bestuur/"
          >
            <img
              src="/assets/partners/abb-logo.png"
              alt="logo ABB"
              width="200px"
            />
          </a>
        </div>
      </div>

      <div class="partnersRowOne">
        <div class="partnersLogo">
          <a class="partnersLogoBW" href="https://openknowledge.be/">
            <img
              src="/assets/partners/okbe-logo.svg"
              alt="logo OKBE"
              width="150px"
            />
          </a>
        </div>
      </div>
      <!-- end -->
    </section>

</Layout>
