---
import Layout from "../layouts/Layout.astro";
import Partner from "../components/Partner.astro";
import Session from "../components/Session.astro";
import Speaker from "../components/Speaker.astro";
---

<Layout>
  <div class="demo-1">
    <h3>
      Get your early bird ticket · Stay tuned, the line-up will follow shortly · Get your early bird ticket · Stay tuned, the line-up will follow shortly · Get your early bird ticket · Stay tuned, the line-up will follow shortly · Get your early bird ticket
       · Stay tuned, the line-up will follow shortly · Get your early bird ticket ·
      Stay tuned, the line-up will follow shortly · Get your early bird ticket · Stay tuned, the line-up will follow shortly · Get your early bird ticket · Stay tuned, the line-up will follow shortly · Get your early bird ticket · Stay tuned, the line-up will follow shortly
       · Get your early bird ticket · Stay tuned, the line-up will follow shortly
    </h3>
  </div>

  <section class="section-width">
    <div>
      <h1 class="h1">#OpenBelgium22 on 29 April 2022</h1>
      <h2 class="h2 intro">
        Open Belgium is an annual community event, where we make Belgian
        knowledge open, usable, useful and used.
      </h2>
      <h2 class="h2 intro">
        Join us to discuss the future of
        <strong>Open, Privacy and Trust</strong> in Belgium in 2022 -
        <strong>live</strong> at “De Krook” in Ghent.
      </h2>
      <!-- <a target="_blank" href="https://form.typeform.com/to/S70tAdxS"
        class="button session-button">Submit a talk</a> -->
    </div>
  </section>

  <!--<section class="section-width">
    <div>
      <div class="section-border sessions">
        <h2 class="h2">Submit your proposal before 21 March!</h2>
        <a
          target="_blank"
          href="https://form.typeform.com/to/S70tAdxS"
          class="button session-button">Submit a keynote or demo</a
        >
      </div>
    </div>
    <p class="empty-stateprev empty-state">
      The open community gets a say in our program!<br />
      The Call For Speakers & Demos is an open invitation to government officials,
      researchers,<br />
      industry influencers and open enthusiasts to share their experiences on open,
      Privacy and Trust<br />
      and open knowledge during a Q&amp;A session, a roundtable discussion or workshop.<br
      />
      <br />
    </p>
  </section>-->

  <!-- program section -->
  <section class="section-width">
    <div class="section-border sessions">
      <h2 class="h2">Meetup Program</h2>
      <a
        target="_blank"
        href="https://openbelgium22.eventbrite.be"
        class="button session-button">Attend OpenBelgium22</a
      >
    </div>
    <!-- conference schedule -->
    <div class="table">
      <div>09:30 - 10:30</div>
      <div>Registration & welcome coffee on De Krook site</div>

      <div>10:30 - 13:00</div>
      <div>Open, Privacy and trust speakers session</div>

      <div>13:00 - 14:00</div>
      <div>Lunch</div>

      <div>14:00 - 16:00</div>
      <div>Demos & workshops</div>

      <div>16:00 - 17:00</div>
      <div>Reception</div>
    </div>
  </section>

  <p class="empty-state empty-stateprev">
    We can’t wait to connect live again during our next event and feel the
    energy. If you can’t make it, we will live-stream our talks.
    <br />
  </p>
  <p class="empty-state">Stay tuned, the line-up will follow shortly</p>

  <!-- Previous editions section -->
  <section class="section-width">
    <div class="section-border sessions">
      <h2 class="h2">Previous editions</h2>
      <!--<a
        target="_blank"
        href="https://openbelgium22.eventbrite.be"
        class="button session-button">Attend OpenBelgium22</a
      > -->
    </div>
    </section>
  <!-- Previous editions buttons --> 
  <section class="section-width"></section>
  <div class="sessions">
      <a
        target="_blank"
        href="https://2018.openbelgium.be/"
        class="button session-button">2018</a>
      <a
        target="_blank"
        href="https://2019.openbelgium.be/"
        class="button session-button">2019</a>
        <a
        target="_blank"
        href="https://2020.openbelgium.be/"
        class="button session-button">2020</a>
      <a
        target="_blank"
        href="https://2021.openbelgium.be/"
        class="button session-button">2021</a>
        </div>
        </section>
  <!--
    <section class="section-width">
      <div>
        <div class="section-border sessions">
          <h2 class="h2">Speakers</h2>
        </div>
      </div>

      <div class="speaker-container">
        <Speaker name="Mathieu Michel" title="State Secretary for Digitalisation" picture="Mathieu Michel.jpg" />
      </div>
    </section>
  -->

  <!--
    <section class="section-width">
      <div class="section-border sessions">
        <h2 class="h2">Sessions</h2>
      </div>

      <div class="sessions-container">
        <Session datetime="2 March 2021, 9.30-10.15" title="We reuse LOD and open it up. Your turn to build it!" speakers="Katrien De Smet, Veronique Volders" link="https://youtu.be/aBiU_RA65e8" />
      </div>
    </section>
  -->

  <section class="partners">
    <div class="partners-text">
      <h2 class="h2 black">Partners</h2>
      <a
        class="button-black button-partner"
        href="mailto: astrid@openknowledge.be">Partner up</a
      >
    </div>

    <div class="partners-row-one">
      <Partner
        link="https://idlab.technology/"
        name="imec IDLab"
        logo="imec-idlab-logo.svg"
      />
      <Partner
        link="https://stad.gent/"
        name="Stad Gent"
        logo="gent-stad-logo.png"
      />
<<<<<<< HEAD
      <Partner
        link="https://redpencil.io/"
        name="redpencil.io"
        logo="redpencil-logo.svg"
      />
      <Partner
        link="https://www.vlaanderen.be/agentschap-binnenlands-bestuur"
        name="Agentschap Binnenlands Bestuur"
        logo="abb-logo.png"
      />
=======
>>>>>>> upstream/2022
    </div>

    <div class="partners-row-one">
      <Partner
        link="https://openknowledge.be/"
        name="Open Knowledge Belgium"
        logo="okbe-logo.svg"
      />
    </div>
  </section>
</Layout>
