---
---

<footer class="footer">
  <p class="footer-text">
    Organized by
    <a class="link" href="https://openknowledge.be/">Open Knowledge Belgium</a>
  </p>
  <a class="footer-text link" href="./code-of-conduct">Code of Conduct</a>
  <a class="footer-text link" href="mailto: team@openknowledge.be"
    >team@openknowledge.be</a
  >
</footer>
