---

---

<footer class="footer">
  <p class="footerText">
    Organized by
    <a class="link" href="https://openknowledge.be/">Open Knowledge Belgium</a>
  </p>
  <a class="footerText link" href="./code-of-conduct">Code of Conduct</a>
  <a class="footerText link" href="mailto: team@openknowledge.be">team@openknowledge.be</a>
</footer>