---
---

<header class="header">
  <nav class="nav">
    <img class="logo" src="/assets/Logo.png" alt="Open Belgium" />
    <div class="nav-links">
      <a
        class="link"
        href="https://twitter.com/openbelgium/status/1347492603038740481"
        >Twitter</a
      >
      <a class="link" href="https://www.facebook.com/OpenKnowledgeBE"
        >Facebook</a
      >
    </div>
  </nav>
</header>
