---
---

<div class="schedule-container">
  <div class="schedule-stage-wrapper">
    <details>
      <summary>
        <section class="schedule-stage">
          <div class="schedule-stage-title">
            <h3>Plenary Sessions</h3>
            <br />
            <h5>De Blauwe Vogel (-1)</h5>
          </div>
        </section>
      </summary>
      <div class="schedule-stage-guide-container">
        <div class="guide-slot">
          <p>09:30 - 10:00</p>
          <div class="guide-slot-card">
            <h4>Registration & Welcome coffee</h4>
          </div>
        </div>
        <div class="guide-slot">
          <p>10:00 - 11:30</p>
          <div class="guide-slot-card">
            <h4>Master of Ceremony <br /> Welcome (15min)</h4>
            <figure class="author-wrapper">
              <figcaption>
                Bart Rosseau | Head of data & Information, Stad Gent
              </figcaption>
            </figure>
          </div>
          <div class="guide-slot-card">
            <h4>
              Opening: The importance and state of global open data (30min)
            </h4>
            <figure class="author-wrapper">
              <figcaption>
                Renata Avilá | CEO Open Knowledge International
              </figcaption>
            </figure>
          </div>
          <div class="guide-slot-card">
            <h4>
              MyData for a fair, sustainable, and prosperous society (30min)
            </h4>
            <figure class="author-wrapper">
              <figcaption>Viivi Lähteenoja | Chair MyData Global</figcaption>
            </figure>
          </div>
          <div class="guide-slot-card">
            <h4>Coffee break (15min)</h4>
          </div>
        </div>
        <div class="guide-slot">
          <p>11:30 - 13:00</p>
          <div class="guide-slot-card">
            <h4>
              Privacy-friendly open source authentication & signing with IRMA
              (30min)
            </h4>
            <figure class="author-wrapper">
              <figcaption>
                Prof. Bart Jacobs | Professor of Security, Privacy and Identity
              </figcaption>
            </figure>
          </div>
          <div class="guide-slot-card">
            <h4>Solid: Your data, your choice. (30min)</h4>
            <figure class="author-wrapper">
              <figcaption>
                Prof. Ruben Verborgh | Professor of Decentralized Web technology
              </figcaption>
            </figure>
          </div>
          <div class="guide-slot-card">
            <h4>
              Building a crowd you can trust with Visit Flanders and
              OpenStreetMap (30min)
            </h4>
            <figure class="author-wrapper">
              <figcaption>
                Jos Pyck | Project Manager Pin je punt, Toerisme Vlaanderen
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="guide-slot">
          <p>13:00 - 14:00</p>
          <div class="guide-slot-card">
            <h4>Lunch & networking break (60min)</h4>
            <figure class="author-wrapper">
              <figcaption>Side aisle Krookcafé (0)</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </details>

    <hr class="divider" />
    <details>
      <summary>
        <section class="schedule-stage">
          <div class="schedule-stage-title">
            <h3>Afternoon Workshops<br /> and keynotes</h3>
            <br />
            <h5>De Laatkomer (+1)</h5>
          </div>
        </section>
      </summary>
      <div class="schedule-stage-guide-container">
        <div class="guide-slot">
          <p>14:00 - 14:30</p>
          <div class="guide-slot-card">
            <h4>Prepare to code, Open brainstorm session (30min)</h4>
            <figure class="author-wrapper">
              <figcaption>
                Bart Hanssens | Data.gov.be maintainer, FPS BOSA DG DT
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="guide-slot">
          <p>14:30 - 15:00</p>
          <div class="guide-slot-card">
            <h4>
              Crowdsourcing data with <br />Pin je Punt and MapComplete (30min)
            </h4>
            <figure class="author-wrapper">
              <figcaption>
                Pieter Vander Vennet | Lead developer MapComplete
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="guide-slot">
          <p>15:00 - 15:30</p>
          <div class="guide-slot-card">
            <h4>
              Building trust in government information by building a
              constellation of linked open data sources (30min)
            </h4>
            <figure class="author-wrapper">
              <figcaption>
                Veronique Volders | Digital Solution Manager, Flemish Agency for
                Home Affairs
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="guide-slot">
          <p>15:30 - 16:30</p>
          <div class="guide-slot-card">
            <h4>
              Open Science strenghtens research in society more than ever?
              (30min)
            </h4>
            <figure class="author-wrapper">
              <figcaption>
                Inge Van Nieuwerburgh | Open Science expert, Ghent University
                Library
              </figcaption>
            </figure>
          </div>
          <div class="guide-slot-card">
            <h4>Open Science Data Publishing with RO-Crate and git (30min)</h4>
            <figure class="author-wrapper">
              <figcaption>
                Marc Portier | Open Science Team Lead, VLIZ vzw
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </details>
    <hr class="divider" />
    <details>
      <summary>
        <section class="schedule-stage">
          <div class="schedule-stage-title">
            <h3>OpenStreetMap Track</h3>
            <br />
            <h5>De Blauwe Vogel - OSM booth (-1)</h5>
          </div>
        </section>
      </summary>
      <div class="schedule-stage-guide-container">
        <div class="guide-slot">
          <p>14:00 - 14:30</p>
          <div class="guide-slot-card">
            <h4>
              Hiking.osm.be, a new paper maps offer based on OpenStreetMap
              (30min)
            </h4>
            <figure class="author-wrapper">
              <figcaption>
                Julien Minet | Developer & cartographer,Champs-Libres.coop
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="guide-slot">
          <p>14:30 - 15:00</p>
          <div class="guide-slot-card">
            <h4>OpenStreetMap goes professional (30min)</h4>
            <figure class="author-wrapper">
              <figcaption>Joost Schouppe | OpenStreetMap Belgium</figcaption>
            </figure>
          </div>
        </div>
        <div class="guide-slot">
          <p>15:00 - 15:30</p>
          <div class="guide-slot-card">
            <h4>Creating open streetlevel imagery (30min)</h4>
            <figure class="author-wrapper">
              <figcaption>Joost Schouppe | OpenStreetMap Belgium</figcaption>
            </figure>
          </div>
        </div>
        <div class="guide-slot">
          <p>15:30 - 16:00</p>
          <div class="guide-slot-card">
            <h4>
              Better data for all by combining OpenStreetMap and government data
              management: Road Completion (30min)
            </h4>
            <figure class="author-wrapper">
              <figcaption>Joost Schouppe | OpenStreetMap Belgium</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </details>
    <hr class="divider" />
    <details>
      <summary>
        <section class="schedule-stage">
          <div class="schedule-stage-title">
            <h3>Afternoon Demos</h3>
            <br />
            <h5>De Blauwe Vogel (-1)</h5>
          </div>
        </section>
      </summary>
      <div class="schedule-stage-guide-container">
        <div class="guide-slot">
          <p>14:00 - 17:00</p>
          <div class="guide-slot-card">
            <h4>Open Data Bike Ride: Collections of Ghent</h4>
            <figure class="author-wrapper">
              <figcaption>
                Olivier Van D'huynslager, Leen Van Campe, Pieter-Jan Pauwels
              </figcaption>
            </figure>
          </div>
          <div class="guide-slot-card">
            <h4>
              Personal data mining, privacy and consent: Challenges and
              opportunities in a world of decentralized personal data stores
            </h4>
            <figure class="author-wrapper">
              <figcaption>
                Philippe Duchesne | Technical Lead at Datavillage
              </figcaption>
            </figure>
          </div>
          <div class="guide-slot-card">
            <h4>
              European Data Protection Supervisor and FOSS - Demo the website
              evidence collector
            </h4>
            <figure class="author-wrapper">
              <figcaption>
                Dr. Robert Riemann | Technology and Privacy Officer, European
                Data Protection Supervisor
              </figcaption>
            </figure>
          </div>
          <div class="guide-slot-card">
            <h4>Kennismarkt Kenniscentrum Data & Maatschappij</h4>
            <figure class="author-wrapper">
              <figcaption>
                Pieter Duysburgh | Operational Lead Kenniscentrum
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="guide-slot">
          <p>14:00 - 15:00</p>
          <div class="guide-slot-card">
            <h4>The current state of the LBLOD eco-system (60min)</h4>
            <figure class="author-wrapper">
              <figcaption>
                Veronique Volders | Digital Solution Manager at Agentschap
                Binnenlands Bestuur
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="guide-slot">
          <p>15:00 - 16:00</p>
          <div class="guide-slot-card">
            <h4>
              Unite for democracy - Tailormade notifications from your local
              government with lokaalbeslist.be (60min)
            </h4>
            <figure class="author-wrapper">
              <figcaption>
                Aad Versteden | Co-founder of redpencil.io and acting CEO of
                redpencil.io and ipfs-search.com.
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="guide-slot">
          <p>16:00 - 17:00</p>
          <div class="guide-slot-card">
            <h4>Patrimonial Documentation' opendata ambitions (60min)</h4>
            <figure class="author-wrapper">
              <figcaption>
                Benoît Fricheteau | Metadata expert, FDS Finance
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </details>
  </div>
</div>
