---
const { datetime, speakers, title, link } = Astro.props;
---
<article class="sessions-card">
  <p class="sessions-date">{Astro.props.datetime}</p>
  <div class="sessions-content">
    <h3 class="sessions-title">{Astro.props.title}</h3>
    <p class="sessions-text">{Astro.props.speakers}</p>
  </div>

  { Astro.props.link &&
  <a target="_blank" href={Astro.props.link} class="button join-button">View session</a>
  }
</article>
