@import "./css/reset.css";
@import "./css/vars.css";
@import "./css/header.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  background-color: var(--background);
  color: white;
  height: 100vh;
  width: 80vw;
  margin: auto;

  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

.header {
  margin-top: 15px;
  padding-bottom: 25px;
  display: block;
  border-bottom: 1px solid white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.link {
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

.logo {
  width: 160px;
  height: 60px;
}

@media screen and (max-width: 375px) {
  .logo {
    width: 110px;
    height: 40px;
  }
}

.link:hover {
  color: #cdb5fa;
  border-bottom: 1px solid #cdb5fa;
  transition: 0.3s;
}

.h1 {
  color: #cdb5fa;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 8px;
}

.h1:before {
  content: "";
  color: #cdb5fa;
  display: block;
  background: url("assets/img/pijl.svg") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 4px 10px 0 0;
}

.sectionWidth {
  margin: auto;
  margin-top: 5%;
  width: 80vw;
}

@media screen and (max-width: 375px) {
  .sectionWidth {
    margin-top: 15%;
  }
}

.h2 {
  color: white;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 140.6%;
  width: 40vw;
}

.intro {
  margin-bottom: 4rem;
}

@media screen and (max-width: 1900px) {
  .h2 {
    width: 700px;
  }
}

@media screen and (max-width: 1090px) {
  .h2 {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .h2 {
    font-size: 5vw;
    width: 80vw;
    line-height: 130.6%;
  }
}

@media screen and (max-width: 475px) {
  .h1 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 13px;
    margin-top: 30px;
  }

  .h1:before {
    width: 15px;
    height: 15px;
    margin: 2px 8px 0 0;
  }

  .h2 {
    line-height: 150%;
    letter-spacing: 0.1px;
  }

  .intro {
    margin-bottom: 2rem;
  }
}

.buttonBlack {
  color: black;
  border: 1px solid black;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: white;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 1.7rem;
  border: 1px solid white;
  text-align: center;
}

button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: #cdb5fa;
  border: 1px solid #cdb5fa;
  transition: 0.3s;
  cursor: pointer;
}

.buttonBlack:hover {
  color: white;
  border: 1px solid white;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.partner {
  filter: grayscale(100%);
}

.sectionBorder {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1.3rem;
  width: 80vw;
}
@media screen and (max-width: 800px) {
  .sectionBorder {
    margin-top: 60px;
  }

  button {
    width: 50%;
  }
}

@media screen and (max-width: 475px) {
  button {
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 1rem;
    width: 50%;
  }

  .sessionButton {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .sectionBorder {
    margin-top: 60px;
  }

  button {
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 1rem;
    width: 40%;
  }

  .sessionButton {
    width: 80%;
  }
}

.speakerContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 10px;
  justify-items: center;
}

.speakerCard {
  margin-top: 30px;
}

.speakerImage {
  width: 13vw;
  height: 15vw;
  object-fit: cover;
}

.speakerText {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
  width: 13vw;
  border-top: 1px solid white;
  margin-top: 10px;
  padding-top: 7px;
}

@media screen and (max-width: 1090px) {
  .speakerContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .speakerImage {
    width: 20vw;
    height: 25vw;
  }

  .speakerText {
    width: 20vw;
  }
}

@media screen and (max-width: 475px) {
  .speakerContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .speakerImage {
    width: 35vw;
    height: 30vw;
  }

  .speakerText {
    font-size: 12px;
    letter-spacing: 0.1px;
    width: 35vw;
  }
}

.emptyState {
  text-align: center;
  color: #cdb5fa;
  font-size: 18px;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 100px;
  font-style: italic;
}

.sessions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sessionsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5vw;
  grid-row-gap: 10px;
  justify-items: center;
}

.sessionsCard {
  width: 13vw;
  margin-top: 40px;
}

.sessionsDate {
  color: #b8b8b8;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.sessionsTitle {
  color: white;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 300;
  line-height: 140%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.sessionsText {
  color: #b8b8b8;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

@media screen and (max-width: 800px) {
  .sessionsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .sessionsCard {
    width: 35vw;
    margin-top: 40px;
  }
}

@media screen and (max-width: 375px) {
  .sessionsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .sessionsCard {
    width: 40vw;
    margin-top: 40px;
  }

  .sessionsText {
    font-size: 12px;
    width: 35vw;
  }

  .sessionsTitle {
    font-size: 14px;
    width: 35vw;
  }

  .sessionsDate {
    font-size: 12px;
    width: 35vw;
  }
}

.partners {
  margin-top: 100px;
  background-color: #cdb5fa;
  padding-top: 30px;
  height: 300px;
}

.partnersText {
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding-right: 30px;
}

.partnersLogo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5vw;
  grid-row-gap: 30px;
  justify-items: center;
  width: 80vw;
  margin-top: 20px;
}

.partner {
  filter: grayscale(100%);
}

@media screen and (max-width: 1200px) {
  .partnersLogo {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .partnersLogo {
    grid-template-columns: repeat(2, 1fr);
  }

  .partner {
    width: 30vw;
  }
}

.black {
  color: black;
  padding-left: 30px;
}

@media screen and (max-width: 375px) {
  .black {
    width: 60%;
  }
}

.footer {
  margin-top: 100px;
  padding-bottom: 100px;
  padding-top: 10px;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.footerText {
  font-size: 14px;
  font-weight: 300;
  color: white;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
  }
  .footerText {
    margin-top: 20px;
  }

  .link {
    text-decoration: underline;
    border-bottom: 0px solid white;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    margin-top: 60px;
  }
}
